
body {
background-image: linear-gradient(to right, rgb(174, 173, 194) , rgb(205, 228, 226));
}

/* Check box*/
* {
  font-family: "Roboto", sans-serif;
}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border-style: groove;
  border-color: rgb(147, 179, 197);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #57f157;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: "✔";
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #021105;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}


}
body div {
  padding: 5rem;
}
body label {
  display: block;
  line-height: 40px;
}
/*logo*/
.wendy {
  height: 3rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
.top {
  text-align: center;
}

h3 {
  text-align: center;
  padding-left: 1rem;
  color: #c91c1c;
  font-family: 'Noto Sans JP', sans-serif;
}
li {
  background-image: linear-gradient(to right, rgb(243, 243, 250) , rgb(253, 251, 251));
  font-family: 'Noto Sans JP', sans-serif;
}
h1 {
  color:rgb(32, 1, 1);
  font-family: 'Noto Sans JP', sans-serif;
}
/*button*/
 .button, .tick {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif;
}
.btn1 {
  justify-content: center;
  align-content: center;
  margin:auto;

}
body {
  width: 100%;
  height: 2rem;
}

.button {
  width: 300px;
  height: 80px;
  background: dodgerblue;
  border-radius: 6px;
  transition: all .3s cubic-bezier(0.67, 0.17, 0.40, 0.83);
}

.button svg {
  transform: rotate(180deg);
  transition: all .5s;
}

.button__circle {
  width: 120px;
  height: 120px;
  background: #57f157;
  border-radius: 50%;
  transform: rotate(-180deg);
}

.button:hover {
  cursor: pointer;
}

.tick {
  color: white;
  font-size: 2em;
  transition: all .9s;
 
}
